#menu-3 .mbr-brand__name {
  font-size: 16px;
}
#menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#social-buttons2-9 .mbr-header__text {
  text-align: center;
}
#form1-10 .mbr-header__text {
  text-align: center;
}
#social-buttons1-17 .mbr-header__text {
  text-align: right;
}
#footer1-15 P {
  text-align: center;
}
